@model MvcApplication1.Models.ExerciseController
@using (Html.BeginForm())
{ 
    
    <fieldset>
        <legend>Exercise</legend>
        <div id="exe">
            <h2>Hands and Waist Exercises</h2>
    <div>    <video src="~/Content/video/20%20minute%20Low%20impact%20HIIT%20home%20workout.%20No%20equipment%20needed.%20(h20%20plan%20workout%202).mp4" controls="controls" />
</div>
    <div>
                    <h2>hands and feet Exercise</h2>

        <video src="~/Content/video/100%%20low%20impact%20workout%20for%20TOTAL%20beginners%20or%20active%20recovery.%20(h20%20day%203)..mp4" controls="controls" /> </div>

    <div>
                    <h2>Buttock and Legand Hands Exercises</h2>

        <video src="~/Content/video/Beginner%20intermediate%20interval%20cardio%20workout%20-%20Cardio%20starter%202!.mp4" controls="controls" />
    </div>
    <div>
                    <h2>Total Body Exercise</h2>

        <video src="~/Content/video/Beginner%20Intermediate%20Total%20Body%20workout%20-%2045%20minutes.mp4" controls="controls" />
    </div>
    <div>
                    <h2>Boxing Exercise</h2>

        <video src="~/Content/video/Cardio%20boxing%20challenge%20-%2030%20minute%20HIIT%20workout.mp4" controls="controls" />
    </div>
    <div>
                    <h2>Pilates Exercise</h2>

        <video src="~/Content/video/Cardio%20Pilates.mp4" controls="controls" />
    </div>
    <div>
                    <h2>Lower Body exercises</h2>

        <video src="~/Content/video/GENUINE%20beginner%20cardio%20workout%20-%20SEATED%20and%20STANDING%20options%20%20%20Team%20Body%20Project.mp4" controls="controls" />
    </div>
    <div>
                    <h2>Stomach and Abdominal Exercises</h2>

        <video src="~/Content/video/High%20intensity,%20low%20impact%20workout.%20No%20equipment%20(H20%20day%205).mp4" controls="controls" />
    </div>
    <div>
                    <h2>Hands and Feet Exercises</h2>

        <video src="~/Content/video/Low%20impact%2020%20minute%20HIIT%20workout%20-%20beginner%20intermediate%20(H20%20plan%20workout%201%20).mp4" controls="controls" />
    </div>
    <div>
                    <h2>Buttocks and Upper Legs Pain Exercises </h2>

        <video src="~/Content/video/Low%20Impact%2030%20minute%20cardio%20workout-%20Beginner%20intermediate.mp4" controls="controls" />
    </div>
    
    <div>
                    <h2>Cardio and Legs Exercises</h2>

        <video src="~/Content/video/Low%20impact,%20high%20intensity%20cardio%20and%20ab%20workout%20-%20at%20home%20HIIT%20fat%20burning%20interval%20exercises.mp4" controls="controls" />
    </div>
    
    <div>
                    <h2>boxing exercises</h2>

        <video src="~/Content/video/NEW%20Body%20Project%20Boxing%20Abs%20cardio%20workout%20from%20home.mp4" controls="controls" />
    </div>
            </div>
    </fieldset>
}
