<fieldset>
    <div>
        <p>
            The South Beach Diet has been popular for over a decade.

        </p>
        <p>
            It's a lower-carb diet that has been credited with producing rapid weight loss without hunger, all while promoting heart health.

        </p>
        <img src="~/Content/imges/dit8.jpg" width="400px" height="400px " />
        <h1>
            What Is the South Beach Diet?
        </h1>
        <p>
            The South Beach Diet was created in the mid-1990s by Dr. Arthur Agatston, a Florida-based cardiologist. His work in heart disease research led to the development of the Agatston score, which measures the amount of calcium in the coronary arteries.

        </p>
        <p>
            According to published interviews, Dr. Agatston observed that patients on the Atkins Diet were losing weight and belly fat, while those on low-fat, high-carb diets were struggling to achieve results.

        </p>
        <h1>
            How Does the South Beach Diet Work?
        </h1>
        <p>
            The South Beach Diet has three different phases: two for weight loss and a third for weight maintenance.

        </p>
        <ul>
            <li>
                <h2>
                    Phase 1
                </h2>
                <p>
                    Phase 1 lasts 14 days.

                </p>
                <p>
                    It's considered the strictest phase because it limits fruit, grains and other higher-carb foods in order to decrease blood sugar and insulin levels, stabilize hunger and reduce cravings.

                </p>
                <p>
                    Most people can expect to lose 8–13 pounds (3.5–6 kg) of body weight during this phase.

                </p>
                <p>
                    During phase 1, you consume three meals per day composed of lean protein, non-starchy vegetables and small amounts of healthy fat and legumes.

                </p>
                <p>
                    In addition, you consume two mandatory snacks per day, preferably a combination of lean protein and vegetables.

                </p>
            </li>
            <li><h2>Phase 2</h2>
                <p>
                    This phase begins on day 15 and should be maintained for as many weeks as necessary to achieve your goal weight.

                </p>
                <p>
                    You can expect to lose 1–2 pounds (0.5–1 kg) per week during this phase, on average.

                </p>
                <p>
                    During phase 2, all foods from phase 1 are allowed, plus limited portions of fruit and "good carbs," such as whole grains and certain types of alcohol.

                </p>
            </li>
            <li>
                <h2>Phase 3</h2>

                <p>
                    Once you achieve your target weight, you advance to phase three.

                </p>
                <p>
                    In this stage, although the phase-2 guidelines should be the basis for your lifestyle, occasional treats are allowed and no foods are truly off limits.

                </p>
                <p>
                    However, if you overindulge and start putting on weight, Dr. Agatston recommends returning to phase 1 for one to two weeks before returning to phase three.

                </p>
            </li>
        </ul>
        <h1>
            Phase 1: Foods to Include
        </h1>
        <ul>
            <li>
                <h2>
                    Lean Protein
                </h2>
                <ul>
                    <li>
                        Lean beef, pork, lamb, veal and game
                    </li>
                    <li>
                        Skinless chicken and turkey breast
                    </li>
                    <li>
                        Fish and shellfish
                    </li>
                    <li>
                        Eggs and egg whites
                    </li>
                    <li>
                        Soy-based meat substitutes
                    </li>
                    <li>
                        Low-fat hard cheese, ricotta cheese and cottage cheese
                    </li>
                    <li>
                        Buttermilk, low-fat milk, plain or Greek yogurt, kefir and soy milk, limited to 2 cups (473 ml) daily
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    Non-Starchy Vegetables
                </h2>
                <p>
                    Consume a minimum of 4 1/2 cups daily.

                </p>
                <p>
                    All vegetables are allowed except beets, carrots, corn, turnips, yams, peas, white potatoes and most types of winter squash.

                </p>
            </li>
            <li>
                <h1>
                    Legumes
                </h1>
                <p>
                    Limit these to 1/3–1/2 cup per day, cooked, unless otherwise noted.

                </p>
                <ul>
                    <li>
                        Black beans, kidney beans, pinto beans, navy beans, garbanzo beans and other bean varieties
                    </li>
                    <li>
                        Split peas and black-eyed peas
                    </li>
                    <li>Lentils</li>
                    <li>
                        Edamame and soybeans
                    </li>
                    <li>
                        Hummus, limited to 1/4 cup
                    </li>
                </ul>
            </li>
            <li>
                <h1>
                    Nuts and Seeds
                </h1>
                <p>
                    Limit these to 1 oz (28 grams) per day.

                </p>
                <ul>
                    <li>
                        Almonds, cashews, macadamias, pecans, pistachios, walnuts and other nuts
                    </li>
                    <li>
                        Almonds, cashews, macadamias, pecans, pistachios, walnuts and other nuts
                    </li>
                    <li>
                        Nut butters, limited to 2 tbsp
                    </li>
                    <li>
                        Flaxseeds, chia seeds, sesame seeds, pumpkin seeds and other seeds
                    </li>
                </ul>
            </li>
            <li>
                <h1>
                    Oils and Fats
                </h1>
                <p>
                    Limited to 2 tbsp of oil per day. Monounsaturated oils are encouraged.

                </p>
                <ul>
                    <li>
                        Monounsaturated oils, such as olive, canola, macadamia and avocado oils
                    </li>
                    <li>
                        Vegetable and seed oils, such as corn, flaxseed, grapeseed, peanut, safflower, sesame and soybean oil
                    </li>
                </ul>
            </li>
            <li>
                <h1>
                    Alternative Fat Choices
                </h1>
                <p>
                    Each serving is equivalent to 2 tbsp of healthy oils.

                </p>
                <ul>
                    <li>
                        Avocado, limited to 2/3 of one fruit
                    </li>
                    <li>
                        Trans-fat-free margarine, limited to 2 tbsp
                    </li>
                    <li>
                        Low-fat mayonnaise, limited to 2 tbsp
                    </li>
                    <li>
                        Regular mayonnaise, limited to 1 tbsp
                    </li>
                    <li>
                        Salad dressing with less than 3 grams sugar, limited to 2 tbsp
                    </li>
                    <li>
                        Olives, limited to 20–30, depending on size
                    </li>
                </ul>               
            </li>
            <li>
                <h1>
                    Sweet Treats
                </h1>
                <p>
                    Limit consumption to 100 calories or fewer per day.

                </p>
                <ul>
                    <li>
                        Sugar-free or unsweetened cocoa or chocolate syrup
                    </li>
                    <li>
                        Sugar-free gelatin, jams and jellies
                    </li>

                    <li>
                        Sugar-free candies, popsicles or gum
                    </li>
                    <li>
                        Sugar substitutes, including Stevia, artificial sweeteners and sugar alcohols like xylitol and erythritol
                    </li>
                </ul>
            </li>

            <li>
                <h1>
                    Condiments
                </h1>
                <p>
                    You may eat unlimited quantities of these foods, unless otherwise noted.

                </p>
                <ul>
                    <li>Broth</li>
                    <li>
                        Herbs, spices, horseradish, mustard, lemon juice or salsa
                    </li>
                    <li>
                        All vinegars, with balsamic limited to 1 tbsp
                    </li>
                    <li>
                        Light coconut milk, limited 1/4 cup (59 ml)
                    </li>
                    <li>
                        Soy sauce, steak sauce or miso, limited to 1 1/2 tsp (7 ml)
                    </li>
                    <li>
                        Cream, whole milk or half and half, limited to 1 tbsp
                    </li>
                    <li>
                        Light sour cream or cream cheese, limited to 2 tbsp
                    </li>
                    <li>
                        Light whipped topping, limited to 2 tbsp
                    </li>
                </ul>
            </li>
            <li>
                <h1>
                    Beverages
                </h1>
                <p>
                    You may drink unlimited quantities of these beverages, although drinking your caffeine in moderation is advised.

                </p>
                <ul>
                    <li>
                        Coffee, regular or decaffeinated
                    </li>
                    <li>
                        Tea, regular, decaffeinated or herbal
                    </li>
                    <li>
                        Sugar-free sodas
                    </li>
                    <li>
                        Sugar-free drink mixes
                    </li>
                    <li>
                        Tomato juice or vegetable juice
                    </li>
                </ul>

            </li>
        </ul>
        <h1>
            Phases 2 and 3: Foods to Include
        </h1>
        <p>
            Phase 2 includes all phase 1 foods and gradually adds in higher-carb foods, beginning with one daily serving of fruit and whole grains or starchy vegetables for the first week.

        </p>
        <p>
            On the 14th day of phase 2 and thereafter, you may consume up to three servings of fruit and four servings of whole grains and starchy vegetables per day.

        </p>
        <p>
            An occasional alcoholic drink is also allowed, although choices are limited to light beer and dry wine.

        </p>
        <ul>
            <li>
                <h1>
                    Fruits
                </h1>
                <p>
                    Consume 1–3 servings per day. All fresh and frozen fruits are allowed except dates, figs, pineapple, raisins and watermelon.

                </p>
                <p>
                    A serving size is one small piece of fruit, half a grapefruit or 3/4 cup (about 115 grams) berries, cherries or grapes.

                </p>

            </li>
            <li>
                <h1>
                    Whole Grains and Starchy Vegetables
                </h1>
                <p>
                    Consume 1–4 servings per day.

                </p>
                <p>
                    Except where noted, one serving size is 1/2 cup cooked starchy vegetables, 1 slice bread or 1/2 cup cooked grains.

                </p>
                <ul>
                    <li>Peas</li>
                    <li>Rutabaga</li>
                    <li>
                        Sweet potatoes and yams
                    </li>
                    <li>Turnips</li>
                    <li>
                        Winter squash, limited to 3/4 cup
                    </li>
                    <li>
                        Whole-grain hot cereal
                    </li>
                    <li>
                        Whole-grain cold cereal, limited to 1 cup
                    </li>
                    <li>
                        Whole-grain bread
                    </li>
                    <li>
                        Brown or wild rice
                    </li>
                    <li>
                        Whole-grain pasta, quinoa, couscous or farro
                    </li>
                    <li>
                        Taro, limited to 1/3 cup
                    </li>
                    <li>
                        Popcorn, limited to 3 cups
                    </li>
                    <li>
                        Whole-grain bagel, limited to 1/2 small
                    </li>
                    <li>
                        Pita bread, limited to 1/2 pita
                    </li>
                    <li>
                        Corn or whole-grain tortilla, limited to 1 small
                    </li>

                </ul>
            </li>
            <li>
                <h1>
                    Corn or whole-grain tortilla, limited to 1 small
                </h1>
                <p>
                    One daily serving of dry wine or an occasional light beer is allowed.

                </p>
                <ul>
                    <li>
                        Light beer, limited to 12 oz (355 ml)
                    </li>
                    <li>
                        Wine, dry red or white, limited to 4 oz (118 ml)
                    </li>
                </ul>
            </li>
        </ul>
        <h1>
            Sample Days on the Diet
        </h1>
        <p>
            Phase 1 Sample Day
        </p>
        <ul>
            <li>
                Breakfast: 3 eggs and 1 cup kale cooked with 1 tsp olive oil
            </li>
            <li>
                Snack: 1 oz (28 grams) string cheese with bell pepper slices
            </li>
            <li>
                Lunch: Roasted salmon and asparagus salad with mustard vinaigrette
            </li>
            <li>
                Snack: Celery sticks with 2 tsp peanut butter
            </li>
            <li>
                Dinner: Lean steak with broccoli
            </li>
        </ul>
        <p>
            Phase 2 Sample Day
        </p>
        <ul>
            <li>
                Breakfast: Quick and easy peanut butter oatmeal
            </li>
            <li>
                Snack: 1 cup cucumber slices with 1/4 cup hummus
            </li>
            <li>
                Lunch: Apple-walnut chicken salad
            </li>
            <li>
                Snack: Cottage cheese with cherry tomatoes
            </li>
            <li>
                Dinner: Pork fajitas with 1/3 cup guacamole
            </li>
        </ul>
    </div>
</fieldset>