<fieldset>
    <legend>
        Vegan diet
    </legend>
    <div>
        <p>Veganism is becoming increasingly popular.</p>
        <img src="~/Content/imges/dit6.jpg" width="500px" height="500px " />

        <h1>What is veganism?</h1>
        <p>The term “vegan” was coined in 1944 by a small group of vegetarians who broke away from the Leicester Vegetarian Society in England to form the Vegan Society.</p>
        <p>They chose not to consume dairy, eggs, or any other products of animal origin, in addition to refraining from meat, as do vegetarians.</p>
        <p>The term “vegan” was chosen by combining the first and last letters of “vegetarian.”</p>
        <p>Veganism is currently defined as a way of living that attempts to exclude all forms of animal exploitation and cruelty, be it from food, clothing, or any other purpose.</p>
        <h1>Why do people go vegan?</h1>
        <p>Vegans generally choose to avoid animal products for one or more of the following reasons.</p>

        <h1>Ethics</h1>
        <p>Ethical vegans strongly believe that all creatures have the right to life and freedom.</p>
        <p>Therefore, they oppose ending a conscious being's life simply to consume its flesh, drink its milk, or wear its skin — especially because alternatives are available.</p>
        <p>Ethical vegans are also opposed to the psychological and physical stress that animals may endure as a result of modern farming practices.</p>
        <p>For instance, ethical vegans deplore the small pens and cages in which many livestock live and often rarely leave between birth and slaughter.</p>
        <p>What's more, many vegans speak out against the farming industry’s practices, such as the grinding of live male chicks by the egg industry or the force-feeding of ducks and geese for the foie gras market.</p>
        <p>Ethical vegans may demonstrate their opposition by protesting, raising awareness, and choosing products that don’t involve animal agriculture.</p>
        <h1>Health</h1>
        <p>Some people choose veganism for its potential health effects.</p>
        <p>For example, plant-based diets may reduce your risk of heart disease, type 2 diabetes, cancer, and premature death (1Trusted Source, 2Trusted Source, 3Trusted Source, 4Trusted Source, 5Trusted Source).</p>
        <p>Lowering your intake of animal products may likewise reduce your risk of Alzheimer’s disease or dying from cancer or heart disease (6Trusted Source, 7Trusted Source, 8Trusted Source, 9Trusted Source, 10Trusted Source).</p>
        <p>Some also choose veganism to avoid the side effects linked to the antibiotics and hormones used in modern animal agriculture (11Trusted Source, 12Trusted Source, 13Trusted Source).</p>
        <p>Finally, studies consistently link vegan diets to a lower body weight and body mass index (BMI). Some people may choose these diets to lose weight (14Trusted Source, 15Trusted Source, 16Trusted Source).</p>
        <h1>Environment</h1>
        <p>People may also choose to avoid animal products because of the environmental impact of animal agriculture.</p>
        <p>A 2010 United Nations (UN) report argued that these products generally require more resources and cause higher greenhouse gas emissions than plant-based options (17).</p>
        <p>For instance, animal agriculture contributes to 65% of global nitrous oxide emissions, 35–40% of methane emissions, and 9% of carbon dioxide emissions (18).</p>
        <p>These chemicals are considered the three principal greenhouse gasses involved in climate change.</p>
        <p>Furthermore, animal agriculture tends to be a water-intensive process. For example, 550–5,200 gallons (1,700–19,550 liters) of water are needed to produce 1 pound (0.5 kg) of beef (19Trusted Source, 20).</p>
        <p>That’s up to 43 times more water than is needed to produce the same amount of cereal grains (20).</p>
        <p>Animal agriculture can also lead to deforestation when forested areas are burned for cropland or pasture. This habitat destruction is thought to contribute to the extinction of various animal species (18, 21).</p>
        <h1>Types of veganism</h1>
        <p>Prominent types of this lifestyle include:</p>
        <ul>
            <li>Dietary vegans. Often used interchangeably with “plant-based eaters,” this term refers to those who avoid animal products in their diet but continue to use them in other products, such as clothing and cosmetics.</li>
            <li>Whole-food vegans. These individuals favor a diet rich in whole foods, such as fruits, vegetables, whole grains, legumes, nuts, and seeds.</li>
            <li>Junk-food vegans. Some people rely heavily on processed vegan food, such as vegan meats, fries, frozen dinners, and desserts, including Oreo cookies and non-dairy ice cream.</li>
            <li>Raw-food vegans. This group eats only foods that are raw or cooked at temperatures below 118°F (48°C) (22</li>
            <li>Low-fat, raw-food vegans. Also known as fruitarians, this subset limits high-fat foods, such as nuts, avocados, and coconuts, instead relying mainly on fruit. Other plants are occasionally eaten in small amounts.</li>
        </ul>
        <h1>Foods that vegans avoid</h1>
        <p>Vegans avoid all foods of animal origin. These include:</p>
        <ul>
            <li>meat</li>
            <li>chicken</li>
            <li>fish</li>
            <li>shellfish</li>
            <li>eggs</li>
            <li>dairy</li>
            <li>honey</li>
        </ul>
        <h1>Foods that vegans eat</h1>
        <p>Avoiding animal products doesn’t consign you to veggies and tofu alone.</p>
        <p>In fact, many common dishes are already vegan or can be adjusted easily.</p>
        <p>Some examples include bean burritos, veggie burgers, tomato pizzas, smoothies, nachos with salsa and guacamole, hummus wraps, sandwiches, and pasta dishes.</p>
        <p>Meat-based entrées are generally swapped for meals containing the following:</p>
        <ul>
            <li>beans</li>
            <li>lentils</li>
            <li>tofu</li>
            <li>seitan</li>
            <li>nuts</li>
            <li>seeds</li>
        </ul>
    </div>
    <fieldset>
