<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

<connectionStrings>
  <add name="HealthyLineeEntities" connectionString="metadata=res://*/HealthyLineDB.csdl|res://*/HealthyLineDB.ssdl|res://*/HealthyLineDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SGM2APC\SQLEXPRESS;initial catalog=HealthyLinee;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>