@using MvcApplication1.LocalResource

<fieldset>
    <legend>@Resource.Atkins </legend>
    <div>
        <div>
            <p>
                The Atkins diet is a low-carb diet, usually recommended for weight loss.
            </p>
            <p>
                Proponents of this diet claim that you can lose weight while eating as much protein and fat as you want, as long as you avoid foods high in carbs.
            </p>
            <p>
                In the past 12 or so years, over 20 studies have shown that low-carb diets without the need for calorie counting are effective for weight loss and can lead to various health improvements.

            </p>


            <img src="~/Content/imges/dit1.jpg" width="500px" height="300px " />
        </div>

        <h1>
            The Atkins Diet Is a 4-Phase Plan
        </h1>
        <h2>
            The Atkins diet is split into 4 different phases:

        </h2>
        <ul>
            <li>
                Phase 1 (induction): Under 20 grams of carbs per day for 2 weeks. Eat high-fat, high-protein, with low-carb vegetables like leafy greens. This kick-starts the weight loss.

            </li>
            <li>
                Phase 2 (balancing): Slowly add more nuts, low-carb vegetables and small amounts of fruit back to your diet.

            </li>
            <li>
                Phase 3 (fine-tuning): When you’re very close to your goal weight, add more carbs to your diet until weight loss slows down.

            </li>
            <li>
                Phase 4 (maintenance): Here you can eat as many healthy carbs as your body can tolerate without regaining weight.

            </li>
        </ul>
        <p>
            However, these phases are a bit complicated and may not be necessary. You should be able to lose weight and keep it off as long as you stick to the meal plan below.
        </p>
        <p>
            However, these phases are a bit complicated and may not be necessary. You should be able to lose weight and keep it off as long as you stick to the meal plan below.
        </p>


        <h1>
            Foods to Avoid
        </h1>
        <h2>
            You should avoid these foods on the Atkins diet:

        </h2>
        <ul>
            <li>
                Sugar: Soft drinks, fruit juices, cakes, candy, ice cream, etc.

            </li>
            <li>
                Grains: Wheat, spelt, rye, barley, rice.

            </li>
            <li>
                Vegetable oils: Soybean oil, corn oil, cottonseed oil, canola oil and a few others.

            </li>
            <li>
                Trans fats: Usually found in processed foods with the word "hydrogenated" on the ingredients list.

            </li>
            <li>
                "Diet" and "low-fat" foods: These are usually very high in sugar.

            </li>
            <li>
                High-carb vegetables: Carrots, turnips, etc (induction only).

            </li>
            <li>
                High-carb fruits: Bananas, apples, oranges, pears, grapes (induction only).

            </li>
            <li>
                Starches: Potatoes, sweet potatoes (induction only).

            </li>
            <li>
                Legumes: Lentils, beans, chickpeas, etc.

            </li>
        </ul>


        <h1>
            Foods to Eat
        </h1>
        <h2>
            You should base your diet around these healthy foods.

        </h2>
        <ul>
            <li>
                Meats: Beef, pork, lamb, chicken, bacon and others.

            </li>
            <li>
                Fatty fish and seafood: Salmon, trout, sardines, etc.

            </li>
            <li>
                Eggs: The healthiest eggs are omega-3 enriched or pastured.

            </li>
            <li>
                Low-carb vegetables: Kale, spinach, broccoli, asparagus and others.

            </li>
            <li>
                Full-fat dairy: Butter, cheese, cream, full-fat yogurt.

            </li>
            <li>
                Nuts and seeds: Almonds, macadamia nuts, walnuts, sunflower seeds, etc.

            </li>
            <li>
                Healthy fats: Extra virgin olive oil, coconut oil, avocados and avocado oil.

            </li>
        </ul>
        <p>
            As long as you base your meals around a fatty protein source with vegetables or nuts and some healthy fats, you will lose weight. It's that simple.

        </p>
        <h1>
            Beverages
        </h1>
        <h2>
            Here are some drinks that are acceptable on the Atkins diet.

        </h2>
        <ul>
            <li>
                Water: As always, water should be your go-to beverage.

            </li>
            <li>
                Coffee: Many studies show that coffee is high in antioxidants and quite healthy.

            </li>
            <li>
                Green tea: A very healthy beverage.

            </li>
        </ul>
        <h1>
            A Sample Atkins Menu for One Week
        </h1>
        <p>
            This is a sample menu for one week on the Atkins diet.
        </p>
        <p>
            It’s suitable for the induction phase, but you should add more higher-carb vegetables and some fruits as you move on to the other phases.
        </p>

        <h2>Sunday</h2>
        <ul>
            <li>
                Breakfast: Bacon and eggs.

            </li>
            <li>
                Lunch: Leftover chicken and veggies from the night before.

            </li>
            <li>
                Dinner: Bunless cheeseburger, with vegetables and butter.

            </li>
        </ul>
        <h2>Monday</h2>
        <ul>
            <li>
                Breakfast: Bacon and eggs.

            </li>
            <li>
                Lunch: Leftover chicken and veggies from the night before.
            </li>
            <li>
                Dinner: Bunless cheeseburger, with vegetables and butter.

            </li>
        </ul>
        <h2>
            Tuesday
        </h2>
        <ul>
            <li>
                Breakfast: Omelet with veggies, fried in butter.

            </li>
            <li>
                Lunch: Shrimp salad with some olive oil.

            </li>
            <li>
                Dinner: Ground-beef stir fry, with veggies.

            </li>
        </ul>
        <h2>
            Wednesday
        </h2>
        <ul>
            <li>
                Breakfast: Bacon and eggs.

            </li>
            <li>
                Lunch: Leftover chicken and veggies from the night before.

            </li>
            <li>
                Dinner: Bunless cheeseburger, with vegetables and butter.

            </li>
        </ul>

        <h2>Thursday </h2>
        <ul>
            <li>
                Breakfast: Bacon and eggs.

            </li>
            <li>
                Lunch: Chicken salad with olive oil and a handful of nuts.

            </li>
            <li>
                Dinner: Meatballs with vegetables.

            </li>
        </ul>
        <h2>
            Friday
        </h2>
        <ul>
            <li>
                Breakfast: Omelet with various vegetables, fried in butter.

            </li>
            <li>
                Lunch: Leftover meatballs from the night before.

            </li>
            <li>
                Dinner: Pork chops with vegetables.

            </li>
        </ul>
        <h2>Saturday </h2>
        <ul>
            <li>
                Breakfast: Bacon and eggs.

            </li>
            <li>
                Lunch: Leftover pork chops from the night before.

            </li>
            <li>
                Dinner: Grilled chicken wings, with some salsa and veggies.

            </li>
        </ul>



        <h1>
            Healthy Low-Carb Snacks
        </h1>
        <p>
            Most people feel that their appetite goes down on the Atkins diet.

        </p>
        <p>
            They tend to feel more than satisfied with 3 meals per day (sometimes only 2).

        </p>
        <p>
            However, if you feel hungry between meals, here are a few quick healthy snacks:

        </p>
        <ul>
            <li>
                Leftovers.

            </li>
            <li>
                A hard-boiled egg or two.
            </li>
            <li>
                A piece of cheese.
            </li>
            <li>
                A piece of meat.
            </li>
            <li>
                A handful of nuts.
            </li>
            <li>
                Some Greek yogurt.

            </li>
            <li>
                Berries and whipped cream.

            </li>
            <li>
                Baby carrots (careful during induction).
            </li>
            <li>
                Fruits .
            </li>
        </ul>

    </div>

</fieldset>
