<fieldset>
    <legend> Weight Watchers diet </legend>
    <div>
        <p>
            Weight Watchers is one of the most popular weight-loss programs in the world.

        </p>
        <p>
            Millions of people have joined it hoping to lose pounds.

        </p>
        <img src="~/Content/imges/dit7.jpg" width="550px" height="250px " />
    </div>

    <h1>
        How we scored this diet.

    </h1>
    <p>
        We considered six important standards and assigned a rating to each, with 1 being the lowest score and 5 being the highest. The Overall Rating for each diet is an average of these ratings.

    </p>
    <h1></h1> Weight Loss or Weight Gain:</h2>
    <p>
        This rating considers how fast the diet will make you lose or gain weight, whether the weight change can be sustained for 3 months or longer, and whether the diet is a crash diet. A crash diet is a very low-calorie, restrictive diet that comes with lots of health risks. Crash dieting can cause muscle loss, a slowed metabolism, nutritional deficiencies, dizziness, and more. They’re not safe or healthy.
    </p>
    <h1>Healthy Eating: </h1>
    <p>
        This rating considers whether the diet limits entire food groups, and whether it disrupts your daily life with complex, specific requirements on what to eat or how to track your food. It also considers whether the diet focuses on long-term lifestyle changes and encourages habits like eating more whole foods, cooking at home, eating without distractions, etc.

    </p>
    <h1>Nutrition Quality:</h1>
    <p>This rating considers whether the diet is based on whole foods rather than processed ones. It also considers whether the diet will cause nutrient deficiencies or a calorie deficiency if you do it for longer than 2 to 3 months. Though you can add vitamin and mineral supplements to any diet, it’s best to focus on getting what you need through a balanced diet.</p>
    <h1>Whole-Body Health:</h1>
    <p>his rating considers whether the diet sets unrealistic goals, makes exaggerated claims, and promotes an unhealthy relationship with food or appearance. It also considers whether the diet promotes exercise and focuses on overall health rather than just weight. While you may have a weight-related goal you hope to achieve through dieting, it’s important to nourish your body and make sure you’re staying healthy regardless of how you choose to eat.</p>

    <h1>Sustainability:</h1>
    <p>This rating considers how easy the diet is to follow, whether you can get support for it, and if it can be maintained for 6 to 12 months or longer. It also takes cost into consideration, since some diets require buying premade foods or paying membership fees. Diets that are sustainable are more likely to be healthy in the long term. Yo-yo dieting can contribute to health issues.</p>
    <h1>Scientifically Backed:</h1>
    <p>This rating considers whether there’s evidence to support the diet’s health claims. We review scientific research to see whether a diet has been clinically proven by impartial research.</p>
    <h1>
        Foods to Eat
    </h1>
    <p>
        Although the Weight Watchers point system emphasizes whole, unprocessed foods including vegetables, fruits and lean proteins, no foods are off limits.

    </p>
    <p>
        Weight Watchers makes healthy food more tempting to members by assigning zero SmartPoints to a list of over 200 healthy foods.

    </p>
    <h2>
        Foods encouraged on the Weight Watchers plan include:

    </h2>
    <ul>
        <li>
            Lean proteins like skinless chicken, eggs, tofu, fish, shellfish and non-fat yogurt.
        </li>
        <li>
            Non-starchy vegetables like broccoli, asparagus, greens, cauliflower and peppers.
        </li>
        <li>
            Fresh, frozen and unsweetened canned fruit.
        </li>
        <li>
            Healthy carbohydrates such as sweet potatoes, brown rice, oatmeal, beans and whole-grain products.
        </li>
        <li>
            Healthy fats like avocado, olive oil and nuts.
        </li>

    </ul>

    <h1>
        Foods to Avoid
    </h1>
    <ul>
        <li>
            Sugary drinks
        </li>
        <li>
            Potato chips
        </li>
        <li>
            Processed meats
        </li>
        <li>
            Candy
        </li>
        <li>
            Cakes and cookies
        </li>
    </ul>
    <h1>A Sample Weight Watchers diet Menu for One Week</h1>
    <h2>Sunday</h2>
    <ul>
        <li>
            Breakfast: Goat cheese, spinach and tomato omelet
        </li>
        <li>
            Lunch: Barley and mushroom soup
        </li>
        <li>
            Snack: Guacamole with carrot crackers
        </li>
        <li>
            Dinner: Super-easy spaghetti and meatballs with Italian arugula salad
        </li>
        <li>
            Dessert: Chocolate-dipped macaroons
        </li>
    </ul>
    <h2>Monday</h2>
    <ul>
        <li>
            Breakfast: Cranberry-walnut oatmeal
        </li>
        <li>
            Lunch: Egg, veggie and avocado salad with tarragon
        </li>
        <li>
            Dinner: Ginger and scallion stir-fried brown rice with ginger shrimp
        </li>
        <li>
            Snack: Swiss cheese and grapes
        </li>
        <li>
            Dessert: Baked apples with vanilla drizzle
        </li>
    </ul>
    <h2>
        Tuesday

    </h2>
    <ul>
        <li>
            Breakfast: Mashed avocado tortilla with tomato
        </li>
        <li>
            Lunch: Turkey, apple and blue cheese wrap
        </li>
        <li>
            Dinner: No-noodle vegetable lasagna
        </li>
        <li>
            Snack: Black bean dip with crudités
        </li>
        <li>
            Dessert: Mini-brownie cupcake
        </li>
    </ul>
    <h2>
        Wednesday

    </h2>
    <ul>
        <li>
            Breakfast: Goat cheese, spinach and tomato omelet
        </li>
        <li>
            Lunch: Barley and mushroom soup
        </li>
        <li>
            Snack: Guacamole with carrot crackers
        </li>
        <li>
            Dinner: Super-easy spaghetti and meatballs with Italian arugula salad
        </li>
        <li>
            Dessert: Chocolate-dipped macaroons
        </li>
    </ul>
    <h2>Thursday</h2>
    <ul>
        <li>
            Breakfast: Cranberry-walnut oatmeal
        </li>
        <li>
            Lunch: Egg, veggie and avocado salad with tarragon
        </li>
        <li>
            Dinner: Ginger and scallion stir-fried brown rice with ginger shrimp
        </li>
        <li>
            Snack: Swiss cheese and grapes
        </li>
        <li>
            Dessert: Baked apples with vanilla drizzle
        </li>
        </ul>
        <h2>
            Friday
        </h2>
        <ul>
            <li>
                Breakfast: Mashed avocado tortilla with tomato
            </li>
            <li>
                Lunch: Turkey, apple and blue cheese wrap
            </li>
            <li>
                Dinner: No-noodle vegetable lasagna
            </li>
            <li>
                Snack: Black bean dip with crudités
            </li>
            <li>
                Dessert: Mini-brownie cupcake
            </li>

        </ul>

        <h2>Saturday</h2>
        <ul>
            <li>
                Breakfast: Goat cheese, spinach and tomato omelet
            </li>
            <li>
                Lunch: Barley and mushroom soup
            </li>
            <li>
                Snack: Guacamole with carrot crackers
            </li>
            <li>
                Dinner: Super-easy spaghetti and meatballs with Italian arugula salad
            </li>
            <li>
                Dessert: Chocolate-dipped macaroons
            </li>
        </ul>
        </div>
</fieldset>